body{
    background-image: url(Background.jpg);
    margin-top: 5%;
}

#olTasks li.checked{
  text-decoration: line-through; 
  background-color: lightgray;
} 

#olTasks li{
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2px;
}

#olTasks li:hover{
  box-shadow: gray 0 0 25px;
}


.btn:hover{
  cursor: pointer;
  box-shadow: #fff8 0 0 15px;
  border-color: black;}